.navbar {
    background-image: url("../backgroundpic.jpg");
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.cart {
    height: 50px;
    margin: 50px;
}

.redButton {
    background-color: #ff0000; /* Red */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
